BioIntranet.v12.suo
BioIntranet.sln
.vs
.vs/BioIntranet
.vs/BioIntranet/v15
.vs/BioIntranet/v15/.suo
BioIntranet/obj
BioIntranet/obj/Debug 
BioIntranet/website.publishproj
BioIntranet/vwd.webinfo
BioIntranet/bin  
