BioIntranet.v12.suo
BioIntranet.sln
.vs
.vs/BioIntranet
.vs/BioIntranet/v15
.vs/BioIntranet/v15/.suo
BioIntranet/obj
BioIntranet/obj/Debug
BioIntranet/obj/Debug/BioIntranet.pdb
BioIntranet/obj/Debug/BioIntranet.dll
BioIntranet/website.publishproj
BioIntranet/vwd.webinfo
BioIntranet/bin
BioIntranet/bin/BioIntranet.pdb
BioIntranet/bin/BioIntranet.dll
BioIntranet/bin/
